h1, h2, h3, h4, h5, h6, p {
    font-family: 'Raleway', sans-serif;
}
h1.welcome {
    margin: 30px 0 10px 0;
}
h1.welcome > span.logo-php {
    color: forestgreen;
    padding: 0 5px;
    font-weight: bold;
}
h1.welcome > span.logo-reboot {
    color: dodgerblue;
    font-weight: bolder;
}
h2 {
    margin: 5px 30px !important;
}
h2.title {
    margin: 10px 10px 30px !important;
    color: dodgerblue;
}
h3.title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    color: dodgerblue;
    text-transform: uppercase;
    border-bottom: 1px dashed forestgreen;
}
h3.title > strong {
    background-color: forestgreen;
    color: white;
    padding: 0 4px;
}
h4.subtitle {
    font-size: 20px;
    line-height: 20px;
    color: dodgerblue;
}
.community > p {
    color: #777;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left;
}
.div-center {
    position: relative !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 20px 0;
    border-top: 1px dashed #888;
}
.container-community {
    background-color: #AFD;
}
.container-whatwedo {
    background-color: #FFF;
}
.container-phpreboot {
    padding-bottom: 30px;
}
@media (min-width: 1024px) {
    .container-phpreboot {
        padding: 0 120px 30px 120px;
    }
}
@media (min-width: 800px) and (max-width: 1023px) {
    .container-phpreboot {
        padding: 0 60px 30px 120px;
    }
}
.box-outer {
    margin-right: 20px;
    margin-bottom: 10px;
}
.box-inner {
    margin-top: 0;
    border: 1px solid forestgreen;
    border-radius: 5px;
    padding: 25px 10px 10px 10px;
    text-align: center;
}
.box-inner > h3 {
    color: forestgreen;
}
.box-inner > p {
    color: #777;
}
.box-icon {
    background-color: #FFF;
    color: forestgreen;
    width: 80px;
    position: absolute;
    top: -32px;
    left: 50%;
    margin: 0 0 0 -40px;
    font-size: 40px;
}
.padding-top-30 {
    padding-top: 30px;
}
#footer {
    background-color: #333;
    color: #CCC;
    border-top-color: rgba(0,0,0,0.2);
}
#copyrights {
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 40px 0;
    font-size: 14px;
    line-height: 1.8;
}
.copyright-links a {
    color: rgba(255,255,255,0.25);
    border-bottom-color: rgba(255,255,255,0.25);
}
.social-icon {
    color: #555;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 30px !important;
    margin-right: 20px;
}
.social-icon:hover {
    color: dodgerblue;
}
