body {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

#wrapper {
    position: relative;
}

#header {
    background-color: #333;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    height: 100px;
    position: relative;
    color: #EEE;
}

#header .container {
    width: 100%;
    max-width: none;
    padding: 0 30px;
    position: relative;
}

#php-reboot-menu {
    float: right;
}

#php-reboot-menu > ul {
    float: left;
    padding-right: 15px;
}
